<header>
    <div class="terminal-border entry-animate">
        <h1 class="mono uppercase">User: Kenan</h1>
        <p class="mono dim">LOC: LONDON_UK // MSc_AI_STUDENT</p>
    </div>

    <nav class="mono dim entry-animate">
        <span class="accent-text">[01]</span> PROJECTS &nbsp;
        <span class="accent-text">[02]</span> BLOG
    </nav>
</header>
