<aside class="identity-stack entry-animate">
    <div class="sticky-content">
        <span class="label mono">KENAN BANDALIYEV</span>
        <p class="philosophy-quote">
            "The soul is the hardware of thought."
        </p>
        
        <div class="social-ports">
            <a href="https://github.com/kenddly" class="port-link mono" target="_blank">
                <span class="dim"></span> GITHUB
            </a>
            <a href="https://www.linkedin.com/in/kenan-bandaliyev-compsci/" class="port-link mono" target="_blank">
                <span class="dim"></span> LINKEDIN
            </a>
            <a href="mailto:kenan.bandaliyev@gmail.com" class="port-link mono">
                <span class="dim"></span> EMAIL
            </a>
        </div>

        <div class="system-time mono" id="kernel-clock">
            00:00:00:00
        </div>
    </div>
</aside>
