---
layout: layouts/base.njk
title: Kenan | Portfolio
---

<div class="hud-grid-bg">
    <div class="system-dashboard">
        {% include "components/sidebar.njk"%}

        <!-- SIGNAL RAIL -->
        <div class="signal-rail">
            <span class="signal-dot"></span>
        </div>

        <main class="main-content">
            {% include "components/mode-tabs.njk" %}

            <div class="view-viewport">
                <div class="entry project">
                    {% include "components/projects.njk"%}
                </div>

                <div class="entry blog">
                    {% include "components/blogs.njk"%}
                </div>
            </div>
        </main>
    </div>
</div>

